#wrapper {
    padding-top: 60px;
}

.navbar {
    background-color: #cc0000;
    min-height: 60px;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-default {
    border: none;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.slide {
    max-height: 360px;
    overflow: hidden;
    position: relative;
}

.slide img {
    width: 100%;
    z-index: 1;
}

.slide-shadow {
    background-image: url('/img/bg.fondo-foto.png');
    background-position: center;
    height: 200px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.dropcoin-button {
    margin-top: -20px;
    position: relative;
    z-index: 10000;
}

.claim {
    color: #cc0000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    line-height: 25px;
}

.claim span {
    vertical-align:sub;
    padding: 0 5px;
}

.location {
    min-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.description {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 18px;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 30px;
    min-height: 75px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.links {
    margin-bottom: 50px;
}
.links span {
    font-size: 25px;
}

.links span .fa-circle, .links span .fa-globe {
    color: #e9e9e9;
}
.links span:hover .fa-circle, .links span:hover .fa-globe {
    color: #cc0000;
}

.profile {
    bottom: 30px;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.profile .username {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    vertical-align: middle;
}

.profile span .fa-circle-thin, .profile span .fa-user {
    color: white;
}

.profile .categories {
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

.profile.qr {
    bottom: 90px;
}

.description.qr {
    width: 400px;
    margin: 0 auto 15px auto;
}

.dropcoin-qr {
    position: relative;
    z-index: 10000;
    margin-top: -80px;
}