<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}DropCoin Street{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/fonts/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/vendor/bootstrap/bootstrap.min.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">
    Estás usando un navegador <strong>desactualizado</strong>.
    Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a>
    Para mejorar la experiencia...
</p>
<![endif]-->
<div id="wrapper">
    <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if
        (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src =
                "https://widget.dropcoin.es/js/dropcoin.js"; fjs.parentNode.insertBefore(js, fjs); }
        (document, 'script', 'dropcoin-sdk'));
    </script>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-brand navbar-brand-centered"><img src="{{ asset('img/icon/logo.dropcoin.png') }}"></div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('/js/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('/js/vendor/bootstrap/bootstrap.min.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>
