{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/main.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row slide">
            <div class="slide-shadow"></div>
            <div class="profile qr">
                <div class ="name text-center">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="username">ziripot</span>
                </div>
                <div class="categories text-center">
                    <ul class="list-inline">
                        <li>#teatro</li>
                        <li>#individual</li>
                        <li>#sanfermin2015</li>
                    </ul>
                </div>
            </div>
            <img src="{{ asset('img/foto-txaranga.jpg') }}">
        </div>
        <div class="row text-center dropcoin-qr">
            <img src="{{ asset('img/qr_ziripot.png') }}">
        </div>
        <div class="row text-center">
            <div class="claim"><span>"</span>Dándole ritmo a las calles de Pamplona<span>"</span></div>
            <div class="location"><i class="fa fa-2x fa-map-marker"></i> Pamplona</div>
            <div class="description qr text-left">La txaranga Ziriport, con 35 años de tradición fiestera a sus espaldas,
                la componen 15 personas que ensayan cada semana en Calle Jarauta
            </div>
            <div class="links">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-globe fa-2x"></i>
            </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}